.wbdv-title {
    margin: 200px;
}

.wd-bottom-right {
    color: red; position: fixed;
    bottom:10px; right: 10px;}

.wbdv-hamburger {
    margin: 1000px;
    left: 50px;
}

.wbdv-title {

    left: 100px;

}